 [Unit]
 Description=Pushbuttons for controlling Volumio
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /home/volumio/jukepi/buttons/SimplePushbuttons.py

 [Install]
 WantedBy=multi-user.target